[MASTER]
# Load Odoo-specific pylint plugins
load-plugins = pylint_odoo

# Files or directories to be skipped
ignore = migrations, __pycache__, .git

# Python code to execute, usually for sys.path manipulation
init-hook =
    import sys, os
    # Add current directory to path
    sys.path.insert(0, os.getcwd())

[MESSAGES CONTROL]
# Disable specific warnings that are common in Odoo
disable =
    # Odoo-specific disables
    manifest-required-author,
    # General Python disables that conflict with Odoo patterns
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-instance-attributes,
    too-many-public-methods,
    # Import related
    import-error,
    relative-beyond-top-level,
    # Documentation
    missing-docstring,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    # Other common Odoo patterns
    protected-access,
    unused-argument,
    redefined-builtin,
    broad-except,
    # Line length (handled by Black)
    line-too-long

[FORMAT]
# Maximum number of characters on a single line (Black handles this)
max-line-length = 88

# String used as indentation unit (Black handles this)
indent-string = '    '

[DESIGN]
# Maximum number of arguments for function / method
max-args = 10

# Maximum number of locals for function / method body
max-locals = 20

# Maximum number of return / yield for function / method body
max-returns = 10

# Maximum number of branch for function / method body
max-branches = 15

# Maximum number of statements in function / method body
max-statements = 50

# Maximum number of parents for a class (see R0901).
max-parents = 10

# Maximum number of attributes for a class (see R0902).
max-attributes = 15

# Minimum number of public methods for a class (see R0903).
min-public-methods = 1

# Maximum number of public methods for a class (see R0904).
max-public-methods = 25

[IMPORTS]
# Deprecated modules which should not be used, separated by a comma
deprecated-modules = regsub,TERMIOS,Bastion,rexec

[CLASSES]
# List of method names used to declare (i.e. assign) instance attributes.
defining-attr-methods = __init__,__new__,setUp

[EXCEPTIONS]
# Exceptions that will emit a warning when being caught
overgeneral-exceptions = builtins.Exception
